@import url(./assets/fonts/sourcesans3/main.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: SourceSans3, sans-serif;
}

.kcHtmlClass {
  background: url(https://itmr-dev.de/bg2.jpg)
  no-repeat center fixed;
  background-size: cover;
}

.kcBodyClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kcLoginClass {
  background: white;
}

.kcHeaderClass {
  display: none;
}